body {
	background-color: white;
}

#close {	
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 30px;
	background-color: transparent;
	color: #ef4260;
	position: fixed;
	top: 10%;
	left: 89.5%;
	border: none;

}

#close a {
	text-decoration: none;
}

#close a:visited {
	color: #ef4260;
}


.nav {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 25px;
  	margin-top: 20%;
  	margin-left: auto;
  	line-height: 60px;
  	color: black;
  	text-align: center;
}


.nav a {
	color: black;
	text-decoration: none;
	
}


