body {
	background-color: white;
}

button {	
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 30px;
	background-color: transparent;
	color: #ef4260;
	position: fixed;
	margin-top: 5.5%;
	left: 89.5%;
	border: none;

}

#close a:visited{
	color: #ef4260;
	text-decoration: none;
}


.nav {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 25px;
  	top: 50%;
  	left: 50%;
  	margin-top: 5.5%;
  	margin-left: 0px;
  	line-height: 60px;
  	color: black;
  	text-align: center;
}

.nav a:visited {
	color: black;
	text-decoration: none;
	
}


