#nav {
	background-color: #ef4260;
	position: fixed;
	width: 40px;
	height: 40px;
	margin-top: 4%;
	left: 89.5%;
	z-index: 1;
	stroke: none;

}

#nav a{
	text-decoration: none;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 20px; 
	text-align: center;
	z-index: 1;

}


#logo {
	position: relative;
	width: 200px;
	margin-top: 4%;
	left: 5%;	
}


h1 {
	position: relative;
	top: 20%;
	margin-left: auto;
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	font-size: 90px;
	color: black;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
}

.body p{
	position: relative;
	width: 50%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: black;
	text-align: center;
	line-height: 30px;
	margin-bottom: 6.5%;
}

.section-1 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#entertainment img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	float: right;
}

#magazine img {
	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	float: center;

}



.section-2 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#one img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: left;
}

#two img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	float: right;

}

.section-3 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#three img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: right;
}

#four img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: left;
}

.section-4 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#five img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: left;
}

#six img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: right;
}

.section-5 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#seven img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: left;
}

#eight img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: right;
}

.section-6 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#nine img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: left;
}

#ten img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: right;
}

.section-7 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#eleven img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: left;
}

#twelve img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: right;
}

.section-8 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#thirteen img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: left;
}

#fourteen img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: right;
}

.section-9 {
	margin-left: 5.5%;
	margin-right: 5.5%;


}

#fifteen img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: right;
}

#sixteen img {

	position: relative;
	width: 47%;
	background-size: cover;
	padding-bottom: 1.5%;
	padding-top: 4%;
	float: left;
}





footer {

	position: relative;
	left: -50px;
	right: auto;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: black;
	margin-bottom: 3%;
	float: bottom;

}


